html, body{
    font-family:'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray
}

nav{
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
}
nav span{
    background-color: black;
    width: 20%;
    float: left;
    text-align: center;
}
header img{
    position:relative;
    width:100%;
}
#info h1{
    text-align: center;
}

#info div{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    text-align:center;
}

#songs div{
    width: 100%;
    
}

#songs div img{
    position: relative;
    /*left: 35%*/
    height: 50%;
    width: 50%;
}

#songs div span{
    position: relative;
    font-size: 2rem;
    padding: 10%;
    /*left: 20%*/
}
#songs div ul{
    position: relative;
    font-size: 1.5rem;
    /*left: 50%*/
}

#songs div audio{
    position: relative;
    /*top: 20%*/
}