#songs div{
    width: 100%;
}

#songs div img{
    position: relative;
    /*left: 35%*/
}

#songs div span{
    position: relative;
    /*left: 20%*/
}
#songs div ul{
    position: relative;
    /*left: 50%*/
}

#songs div audio{
    position: relative;
    /*top: 20%*/
}