#songs div{
    width: 100%;
}

#songs div img{
    position: fixed;
    left: 35%
}

#songs div span{
    position: fixed;
    left: 20%
}
#songs div ul{
    position: fixed;
    left: 50%
}

#songs div audio{
    position: fixed;
    top: 20%
}